In [1]:
from sqlalchemy import create_engine, delete
from sqlmodel import Field, Session, SQLModel
from pgvector.sqlalchemy import Vector
import pandas as pd
# , create_database_and_tables
import csv, ast
drop_tables =False

%load_ext autoreload
%autoreload 2

import helpers as hlprs

In [2]:
import numpy as np
from psycopg2.extensions import register_adapter, AsIs

def addapt_numpy_float64(numpy_float64):
    return AsIs(numpy_float64)

def addapt_numpy_int64(numpy_int64):
    return AsIs(numpy_int64)

def addapt_numpy_float32(numpy_float32):
    return AsIs(numpy_float32)

def addapt_numpy_int32(numpy_int32):
    return AsIs(numpy_int32)

def addapt_numpy_array(numpy_array):
    return AsIs(tuple(numpy_array))

register_adapter(np.float64, addapt_numpy_float64)
register_adapter(np.int64, addapt_numpy_int64)
register_adapter(np.float32, addapt_numpy_float32)
register_adapter(np.int32, addapt_numpy_int32)
register_adapter(np.ndarray, addapt_numpy_array)

In [3]:
import girder_client
import requests
dsaApiUrl = "https://wsi-deid.pathology.emory.edu/api/v1"
gc = girder_client.GirderClient(apiUrl=dsaApiUrl)
dbApiUrl = "http://dsapostgisapi:82/"

In [ ]:
# !pip install geoalchemy2

In [4]:

import fastapifiles.models as models

In [5]:
DATABASE_URL = "postgresql://docker:docker@postgisdb/dsagis"
engine = create_engine(DATABASE_URL)

def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

    
drop_tables=False
# if drop_tables:
#     models.imageFeatureSets.__table__.drop(engine)

create_db_and_tables()

In [6]:
wsiFileName = "OS03-163_1A_TAU.svs"
featureCSVname = "./wsi_features.csv"

colsToRename = {'class':'classLabel','width':'roiWidth','height':'roiHeight'}

df = hlprs.loadFeatureCSVFile(wsiFileName,featureCSVname, 'sift',colReMappings = colsToRename)
df.drop(columns=['id'])

,classLabel,topX,topY,roiWidth,roiHeight,featureEmbeddings
0,iNFT,25318,29452,162,164,"[21.44949531555176, 27.36868667602539, 25.4494..."
1,iNFT,20998,29758,159,162,"[24.796510696411133, 29.046510696411133, 26.24..."
2,iNFT,28816,54004,148,168,"[32.252872467041016, 26.95689582824707, 19.747..."
3,iNFT,21055,32716,124,196,"[29.86666679382324, 33.16666793823242, 19.4166..."
4,iNFT,38828,34430,121,180,"[22.73170661926269, 26.260162353515625, 18.552..."
...,...,...,...,...,...,...
4398,iNFT,33420,55795,27,38,"[18.41176414489746, 34.82352828979492, 41.0, 2..."
4399,iNFT,73963,47165,29,35,"[14.44444465637207, 26.22222137451172, 28.0, 2..."
4400,iNFT,30289,38424,30,32,"[5.125, 24.375, 87.375, 54.5, 3.25, 1.75, 3.12..."
4401,iNFT,55680,18562,22,44,"[26.200000762939453, 9.600000381469728, 29.399..."
4402,iNFT,26214,5202,24,37,"[23.363636016845703, 36.6363639831543, 32.3636..."

In [7]:
r = requests.get(dbApiUrl+f"lookupImage?imageName={wsiFileName}&dsaApiUrl={dsaApiUrl}")
print(r.json())

{'imageId': '646cdfa41ee920471e0e7708', 'imageName': 'OS03-163_1A_TAU.svs', 'magnification': 40.0, 'mm_y': 0.0002519, 'sizeY': 91763, 'tileHeight': 240, 'levels': 10, 'id': 1, 'apiURL': 'https://wsi-deid.pathology.emory.edu/api/v1', 'mm_x': 0.0002519, 'sizeX': 101591, 'tileWidth': 240}

In [8]:
with Session(engine) as session:
    imageId = r.json()['imageId']

    curFeatureSet = models.imageFeatureSets(featureType='nftFeature', 
                                            imageId=imageId,
                                            totalObjects = len(df),
                                           imageFeatureParams={"embeddingNames": ['SIFT1',
                                                                                 'SIFT2','SIFT3']})
    session.add(curFeatureSet)
    session.commit()
    session.refresh(curFeatureSet)
print(curFeatureSet)

featureType='nftFeature' bytesRead=None imageId='646cdfa41ee920471e0e7708' totalObjects=4403 imageFeatureParams={'embeddingNames': ['SIFT1', 'SIFT2', 'SIFT3']} imageFeatureSet_id=1 featureComputeTime=None magnification=None

In [9]:
imageId = r.json()['imageId']
imageId

df['imageId'] = imageId
df['imageFeatureSet_id'] = 1
df.to_sql(models.NPfeatureSet.__tablename__, engine, if_exists='replace', index=False)

403

In [ ]:
featureColPrefix = 'sift'
featureColumnNames = []

for c in df.columns:
     if c.startswith(featureColPrefix):
            featureColumnNames.append(c)
            
featureOnly_df = df[featureColumnNames]

In [ ]:
for i in gc.listItem('6452a8b1239ec54642356cad'):
#     print(i['name'])
    r = requests.post(dbApiUrl+"add-DSAImage?imageId=%s&dsaApiUrl=%s" % (i['_id'], dsaApiUrl))

In [ ]:
# for i in gc.listItem('6452a8b1239ec54642356cad'):
#     print(i['name'])
#     r = requests.post(dbApiUrl+"add-DSAImage?imageId=%s&dsaApiUrl=%s" % (i['_id'], dsaApiUrl))
### Load feature set... for this one I know the imagename is 



# markerOnly_df = df[knownMarkerNames]

# df['featureEmbeddings'] = markerOnly_df.apply(lambda row: ",".join(row.values.astype(str)),axis=1)
# ## May be a way to skip these step
# df['featureEmbeddings'] = df['featureEmbeddings'].apply(ast.literal_eval)
# df.drop(columns=markerOnly_df.columns, axis=1, inplace=True)
# df.rename(columns={"UniqueID": "localFeatureId"}, inplace=True)
# df["localFeatureId"] = df["localFeatureId"].str.extract(r"ID-\d+-\d+-(\d+)", expand=False).astype(int)
# df.drop(columns=['ID','First ID'],inplace=True)